@font-face {
    font-family: SourceSansPro-Regular;
    src: url(fonts/SourceSansPro-Regular.woff);
  }
  @font-face {
      font-family: SourceSansPro-Bold;
      src: url(fonts/SourceSansPro-Bold.woff);
  }
  @font-face {
      font-family: SourceSansPro-Light;
      src: url(fonts/SourceSansPro-Light.woff);
  }
  @font-face {
      font-family: SourceSansPro-ExtraLight;
      src: url(fonts/SourceSansPro-ExtraLight.woff);
  }
  
  @font-face {
      font-family: CookieRun-Black;
      src: url(fonts/CookieRun-Black.woff);
  }
  @font-face {
      font-family: CookieRun-Bold;
      src: url(fonts/CookieRun-Bold.woff);
  }
  @font-face {
      font-family: CookieRun-Regular;
      src: url(fonts/CookieRun-Regular.woff);
  }
  
  @font-face {
      font-family: Gotham-Black;
      src: url(fonts/Gotham-Black.woff);
  }
  @font-face {
      font-family: Gotham-Bold;
      src: url(fonts/Gotham-Bold.woff);
  }
  @font-face {
      font-family: Gotham-Book;
      src: url(fonts/Gotham-Book.woff);
  }
  @font-face {
      font-family: Gotham-Light;
      src: url(fonts/Gotham-Light.woff);
  }
  @font-face {
      font-family: Gotham-Light-Italic;
      src: url(fonts/Gotham-LightItalic.woff);
  }
  @font-face {
      font-family: Gotham-Medium;
      src: url(fonts/Gotham-Medium.woff);
  }
  @font-face {
      font-family: GothamRnd-Bold;
      src: url(fonts/GothamRnd-Bold.woff);
  }
  @font-face {
      font-family: GothamRnd-Book;
      src: url(fonts/GothamRnd-Book.woff);
  }
  @font-face {
      font-family: GothamRnd-Light;
      src: url(fonts/GothamRnd-Light.woff);
  }
  @font-face {
      font-family: GothamRnd-Medium;
      src: url(fonts/GothamRnd-Medium.woff);
  }
  @font-face {
      font-family: Gotham-Thin;
      src: url(fonts/Gotham-Thin.woff);
  }
  @font-face {
      font-family: Gotham-Thin-Italic;
      src: url(fonts/GothamNarrow-ThinItalic.woff);
  }
  @font-face {
      font-family: Gotham-Ultra;
      src: url(fonts/Gotham-Ultra.woff);
  }
  
  @font-face {
      font-family: GothamNarrow-Light;
      src: url(fonts/GothamNarrow-Light.woff);
  }
  @font-face {
      font-family: GothamNarrow-Bold;
      src: url(fonts/GothamNarrow-Bold.woff);
  }
  @font-face {
      font-family: GothamNarrow-Black;
      src: url(fonts/GothamNarrow-Black.woff);
  }
  
  @font-face {
      font-family: Mikado-Black;
      src: url(fonts/Mikado-Black.woff);
  }
  @font-face {
      font-family: Mikado-Black-Italic;
      src: url(fonts/Mikado-Black-Italic.woff);
  }
  @font-face {
      font-family: Mikado-Bold;
      src: url(fonts/Mikado-Bold.woff);
  }
  @font-face {
      font-family: Mikado-Bold-Italic;
      src: url(fonts/Mikado-Bold-Italic.woff);
  }
  @font-face {
      font-family: Mikado-Light;
      src: url(fonts/Mikado-Light.woff);
  }
  @font-face {
      font-family: Mikado-Light-Italic;
      src: url(fonts/Mikado-Light-Italic.woff);
  }
  @font-face {
      font-family: Mikado-Medium;
      src: url(fonts/Mikado-Medium.woff);
  }
  @font-face {
      font-family: Mikado-Medium-Italic;
      src: url(fonts/Mikado-Medium-Italic.woff);
  }
  @font-face {
      font-family: Mikado-Regular;
      src: url(fonts/Mikado-Regular.woff); 
  }
  @font-face {
      font-family: Mikado-Regular-Italic;
      src: url(fonts/Mikado-Regular-Italic.woff);
  }
  @font-face {
      font-family: Mikado-Ultra;
      src: url(fonts/Mikado-Ultra.woff);
  }
  @font-face {
      font-family: Mikado-Ultra-Italic;
      src: url(fonts/Mikado-Ultra-Italic.woff);
  }
  